In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("A:/FIAP/2 Sem/MATÃ‰RIAS/Data-Science/Aula 1 ponto - pre CP1/pokedex.csv")
df.tail()

,Image,Index,Name,Type 1,Type 2,Total,HP,Attack,Defense,SP. Atk.,SP. Def,Speed
1210,images/1211.png,1023,Iron Crown,Steel,Psychic,590,90,72,100,122,108,98
1211,images/1212.png,1024,Terapagos Normal Form,Normal,NaN,450,90,65,85,65,85,60
1212,images/1213.png,1024,Terapagos Terastal Form,Normal,NaN,600,95,95,110,105,110,85
1213,images/1214.png,1024,Terapagos Stellar Form,Normal,NaN,700,160,105,110,130,110,85
1214,images/1215.png,1025,Pecharunt,Poison,Ghost,600,88,88,160,88,88,88

In [3]:
Data_total = df["Total"]
q1_total, q3_total = np.percentile(Data_total, [25, 75])
iqr_total = q1_total - q3_total
limite_inferior = q1_total + 1.5 * iqr_total
limite_superior = q3_total - 1.5 * iqr_total
outliers_total = [x for x in df["Total"] if x < limite_inferior or x > limite_superior]
print(len(outliers_total))

1

In [4]:
q1_hp, q3_hp = np.percentile(df["HP"], [25, 75])
iqr_hp = q1_hp - q3_hp
limite_inferior = q1_hp + 1.5 * iqr_hp
limite_superior = q3_hp - 1.5 * iqr_hp
outliers_hp = [x for x in df["HP"] if x < limite_inferior or x > limite_superior]
print(len(outliers_hp))

27

In [5]:

q1_atk, q3_atk = np.percentile(df["Attack"], [25, 75])
iqr_atk = q1_atk - q3_atk
limite_inferior = q1_atk + 1.5 * iqr_atk
limite_superior = q3_atk - 1.5 * iqr_atk
outliers_atk = [x for x in df["Attack"] if x < limite_inferior or x > limite_superior]
print(len(outliers_atk))

13

In [6]:
Data_def = df["Defense"]
q1_def, q3_def = np.percentile(Data_def, [25, 75])
iqr_def = q1_def - q3_def
limite_inferior = q1_def + 1.5 * iqr_def
limite_superior = q3_def - 1.5 * iqr_def
outliers_def = [x for x in df["Defense"] if x < limite_inferior or x > limite_superior]
print(len(outliers_def))

25