In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('D:/Estatistica e Database/Estatisticas-e-Banco-de-dados/filmes.csv')

In [6]:
df.head()

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
0,O Poderoso Chefão,1972,287,9.2,175,Crime
1,Titanic,1997,2187,7.8,195,Romance
2,Interestelar,2014,701,8.6,169,Ficção Científica
3,Matrix,1999,466,8.7,136,Ficção Científica
4,Vingadores: Ultimato,2019,2798,8.4,181,Ação

In [10]:
df.shape

(10, 6)

In [33]:
# Ex1 Filmes

df[df['Gênero']== "Ficção Científica"]

2917

In [23]:
# ex 2
ano = df['Ano'].min()

df[df['Ano'] == ano]

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
0,O Poderoso Chefão,1972,287,9.2,175,Crime

In [2]:
# ex3
df['Bilheteria_Mundial'].mean()

NameError: name 'df' is not defined

In [26]:
# ex4
imdb = df['Nota_IMDb'].max()

df[df['Nota_IMDb'] == imdb]

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
0,O Poderoso Chefão,1972,287,9.2,175,Crime

In [27]:
# ex5
df.sort_values(by="Duração_Minutos", ascending=False)

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
1,Titanic,1997,2187,7.8,195,Romance
4,Vingadores: Ultimato,2019,2798,8.4,181,Ação
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia
0,O Poderoso Chefão,1972,287,9.2,175,Crime
2,Interestelar,2014,701,8.6,169,Ficção Científica
9,Duna,2021,402,8.0,155,Ficção Científica
6,Pulp Fiction,1994,213,8.9,154,Crime
5,Clube da Luta,1999,101,8.8,139,Drama
3,Matrix,1999,466,8.7,136,Ficção Científica
8,Coringa,2019,1074,8.4,122,Drama

In [28]:
# ex6
df['Bilheteria_Mundial'].sum()

11146

In [29]:
# ex7
df[df['Duração_Minutos'] < 150]

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
3,Matrix,1999,466,8.7,136,Ficção Científica
5,Clube da Luta,1999,101,8.8,139,Drama
8,Coringa,2019,1074,8.4,122,Drama

In [30]:
# ex8
df[df['Ano'] > 2000]

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
2,Interestelar,2014,701,8.6,169,Ficção Científica
4,Vingadores: Ultimato,2019,2798,8.4,181,Ação
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Ficção Científica

In [31]:
# ex9
df['Duração_Minutos'].mean()

160.4

In [34]:
# ex10
Bilheteria_max = df['Bilheteria_Mundial'].max()

df[df['Bilheteria_Mundial']== Bilheteria_max]

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia

In [38]:


df = pd.read_csv('D:/Estatistica e Database/Estatisticas-e-Banco-de-dados/todo poderoso timão.csv')

In [41]:
# ex5 -- Gamba

gols_max = df['Gols_Marcados'].max()

df[df['Gols_Marcados'] == gols_max]

,Ano,Jogos,Vitórias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posição_Campeonato
9,2024,64,22,6,5,89,48,19

In [60]:
# ex10 -- Gamba

df['Média_Gols_Sofridos'] = df['Gols_Sofridos'] / df['Jogos']

df_resultado = df[['Ano', 'Média_Gols_Sofridos']]

print(df_resultado.to_string(index=False))

 Ano  Média_Gols_Sofridos
2015             0.967213
2016             0.690476
2017             0.594203
2018             0.617021
2019             0.517857
2020             1.088889
2021             0.408163
2022             0.850000
2023             0.905660
2024             0.750000

In [44]:
# ex9 -- Gamba
Jogos = df['Jogos'].max()

df[df['Jogos'] == Jogos]

,Ano,Jogos,Vitórias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posição_Campeonato
2,2017,69,35,6,6,58,41,10

In [48]:
# ex 8 -- Gamba
Posição_min = df['Posição_Campeonato'].max()

df[df['Posição_Campeonato'] == Posição_min]

,Ano,Jogos,Vitórias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posição_Campeonato
0,2015,61,30,14,12,49,59,19
9,2024,64,22,6,5,89,48,19

In [61]:
# ex6
df['Pontos'] = df['Vitórias'] * 3 + df['Empates']

df_ordenado = df[['Ano', 'Pontos']].sort_values(by='Pontos', ascending=False)

print(df_ordenado.to_string(index=False))

 Ano  Pontos
2021     117
2022     115
2017     111
2019     110
2015     104
2020     104
2023     103
2018      92
2016      91
2024      72