In [3]:
#Integrantes
#Maur√≠cio Alves - rm556214
#Carlos Henrique - rm558003

In [ ]:
#Esquecemos de enviar a tarefa ü§¶‚Äç‚ôÇÔ∏è

Primeiros exercicios - Data Science & Statistics

In [5]:
import pandas as pd

HER√ìIS

In [3]:
df = pd.read_csv("A:/FIAP/2 Sem/MAT√âRIAS/Data-Science/Aula 1/Pasta ex aula de hj/marvel dc.csv")
df.head()

               Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
0            Batman      DC         1939     85           100          80
1          Superman      DC         1938    100            90         100
2  Mulher-Maravilha      DC         1941     95            92          85
3    Homem de Ferro  Marvel         1963     90           100          88
4   Capit√£o Am√©rica  Marvel         1941     92            85          84

In [4]:
# Her√≥is - ex1
df[df['Editora'] == "Marvel"]

              Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
3   Homem de Ferro  Marvel         1963     90           100          88
4  Capit√£o Am√©rica  Marvel         1941     92            85          84
5             Hulk  Marvel         1962    100            80          75
7             Thor  Marvel         1962    100            90          90
9     Homem-Aranha  Marvel         1962     89            85          95

In [5]:
# Her√≥is - ex2
heroi = df["Ano_Estreia"].min()
df[df["Ano_Estreia"] == heroi]

       Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1  Superman      DC         1938    100            90         100

In [6]:
# Her√≥is - ex3
DC = df[df["Editora"] == "DC"]
media = DC["For√ßa"].mean()
print(f"A m√©dia de For√ßa dos her√≥is da DC √© {media}!")

A m√©dia de For√ßa dos her√≥is da DC √© 90.8!

In [7]:
# Her√≥is - ex4
DC = df[df["Editora"] == "DC"]
Marvel = df[df["Editora"] == "Marvel"]
mediaInteDC = DC["Intelig√™ncia"].mean()
mediaInteMarvel = Marvel["Intelig√™ncia"].mean()

if ( mediaInteDC > mediaInteMarvel ):
    print(f"DC tem a maior m√©dia com m√©dia {mediaInteDC}")
else:
    print(f"Marvel tem a maior m√©dia com m√©dia {mediaInteMarvel}")

DC tem a maior m√©dia com m√©dia 90.4

In [8]:
# Her√≥is - ex5
heroi = df["Velocidade"].max()
df[df["Velocidade"] == heroi]

       Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1  Superman      DC         1938    100            90         100
6     Flash      DC         1956     88            88         100

In [9]:
# Her√≥is - ex6
heroisAntes = df[df["Ano_Estreia"] < 1960]
qtdHeroisAntes = len(heroisAntes)
print(f"{qtdHeroisAntes} Her√≥is estrearam antes de 1960")

6 Her√≥is estrearam antes de 1960

In [10]:
# Her√≥is - ex7
Marvel = df[df["Editora"] == "Marvel"]
somaForca = Marvel["For√ßa"].sum()
print(somaForca)

471

In [11]:
# Her√≥is - ex8
df.sort_values(by="Velocidade", ascending=False)

               Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1          Superman      DC         1938    100            90         100
6             Flash      DC         1956     88            88         100
9      Homem-Aranha  Marvel         1962     89            85          95
7              Thor  Marvel         1962    100            90          90
3    Homem de Ferro  Marvel         1963     90           100          88
2  Mulher-Maravilha      DC         1941     95            92          85
8           Aquaman      DC         1941     86            82          85
4   Capit√£o Am√©rica  Marvel         1941     92            85          84
0            Batman      DC         1939     85           100          80
5              Hulk  Marvel         1962    100            80          75

In [12]:
# Her√≥is - ex9
DC = df[df["Editora"] == "DC"]
mediaAnoEstreia = DC["Ano_Estreia"].mean()
print(mediaAnoEstreia)

1943.0

In [13]:
# Her√≥is - ex10
heroi = df["For√ßa"].max()
maisFortes = df[df["For√ßa"] == heroi]
maisFortes["Nome"]

1    Superman
5        Hulk
7        Thor
Name: Nome, dtype: object

CORINTHIANS ü¶®

In [6]:
df = pd.read_csv("A:/FIAP/2 Sem/MAT√âRIAS/Data-Science/Aula 1/Pasta ex aula de hj/todo poderoso tim√£o.csv")
df.head()

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato
0,2015,61,30,14,12,49,59,19
1,2016,42,27,10,11,85,29,4
2,2017,69,35,6,6,58,41,10
3,2018,47,27,11,14,30,29,17
4,2019,56,33,11,11,49,29,6

In [7]:
# ex1 -- Gamba
ano_mais_vitorias = df.loc[df['Vit√≥rias'].idxmax(), 'Ano']
print(f"O ano com mais vit√≥rias foi: {ano_mais_vitorias}")

O ano com mais vit√≥rias foi: 2022

In [8]:
# ex2 -- Gamba
df['Saldo_Gols'] = df['Gols_Marcados'] - df['Gols_Sofridos']
print("Saldo de gols em cada ano:")
print(df[['Ano', 'Saldo_Gols']])

Saldo de gols em cada ano:
    Ano  Saldo_Gols
0  2015         -10
1  2016          56
2  2017          17
3  2018           1
4  2019          20
5  2020          23
6  2021          50
7  2022          36
8  2023         -11
9  2024          41

In [9]:
# ex3 -- Gamba
media_posicao = df['Posi√ß√£o_Campeonato'].mean()
print(f"A m√©dia de posi√ß√£o final do Corinthians no campeonato √©: {media_posicao:.2f}")

A m√©dia de posi√ß√£o final do Corinthians no campeonato √©: 12.30

In [24]:
# ex4 -- Gamba
min_Derrotas = df['Derrotas'].min()
derrotas = df[df['Derrotas'] == min_Derrotas]
ano = derrotas["Ano"]
ano

9    2024
Name: Ano, dtype: int64

In [26]:
# ex5 -- Gamba

golsMaisQue60 = df[df['Gols_Marcados'] > 60]
golsMaisQue60["Ano"]

1    2016
5    2020
6    2021
7    2022
9    2024
Name: Ano, dtype: int64

In [112]:
# ex6 -- Gamba
df['TaxaVit√≥rias'] = (df['Vit√≥rias'] / df['Jogos']) * 100
 
taxa_vitorias = df[['Ano', 'TaxaVit√≥rias'] ].round(2)
 
print(taxa_vitorias.to_string(index=False))

 Ano  TaxaVit√≥rias
2015         49.18
2016         64.29
2017         50.72
2018         57.45
2019         58.93
2020         71.11
2021         71.43
2022         90.00
2023         56.60
2024         34.38

In [ ]:
# ex7
df['Pontos'] = df['Vit√≥rias'] * 3 + df['Empates']

df_ordenado = df[['Ano', 'Pontos']].sort_values(by='Pontos', ascending=False)

print(df_ordenado.to_string(index=False))

 Ano  Pontos
2021     117
2022     115
2017     111
2019     110
2020     104
2015     104
2023     103
2018      92
2016      91
2024      72

In [109]:
# ex 8 -- Gamba
Posi√ß√£o_min = df['Posi√ß√£o_Campeonato'].max()

df[df['Posi√ß√£o_Campeonato'] == Posi√ß√£o_min]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato,M√©dia_Gols_Sofridos
0,2015,61,30,14,12,49,59,19,0.967213
9,2024,64,22,6,5,89,48,19,0.750000

In [108]:
# ex9 -- Gamba
Jogos = df['Jogos'].max()

df[df['Jogos'] == Jogos]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato,M√©dia_Gols_Sofridos
2,2017,69,35,6,6,58,41,10,0.594203

In [107]:
# ex10 -- Gamba

df['M√©dia_Gols_Sofridos'] = df['Gols_Sofridos'] / df['Jogos']

df_resultado = df[['Ano', 'M√©dia_Gols_Sofridos']]

print(df_resultado.to_string(index=False))

 Ano  M√©dia_Gols_Sofridos
2015             0.967213
2016             0.690476
2017             0.594203
2018             0.617021
2019             0.517857
2020             1.088889
2021             0.408163
2022             0.850000
2023             0.905660
2024             0.750000

FILMES

In [87]:
df = pd.read_csv('A:/FIAP/2 Sem/MAT√âRIAS/Data-Science/Aula 1/Pasta ex aula de hj/filmes.csv')
df.head()

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime
1,Titanic,1997,2187,7.8,195,Romance
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o

In [88]:
# Ex1 Filmes

df[df['G√™nero']== "Fic√ß√£o Cient√≠fica"]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [89]:
# ex 2
ano = df['Ano'].min()

df[df['Ano'] == ano]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [94]:
# ex3
media = df['Bilheteria_Mundial'].mean()
print(media)

1114.6

In [95]:
# ex4
imdb = df['Nota_IMDb'].max()

df[df['Nota_IMDb'] == imdb]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [96]:
# ex5
df.sort_values(by="Dura√ß√£o_Minutos", ascending=False)

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
1,Titanic,1997,2187,7.8,195,Romance
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica
6,Pulp Fiction,1994,213,8.9,154,Crime
5,Clube da Luta,1999,101,8.8,139,Drama
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
8,Coringa,2019,1074,8.4,122,Drama

In [98]:
# ex6
soma = df['Bilheteria_Mundial'].sum()
print(soma)

11146

In [99]:
# ex7
df[df['Dura√ß√£o_Minutos'] < 150]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
5,Clube da Luta,1999,101,8.8,139,Drama
8,Coringa,2019,1074,8.4,122,Drama

In [100]:
# ex8
df[df['Ano'] > 2000]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [102]:
# ex9
media = df['Dura√ß√£o_Minutos'].mean()
print(media)

160.4

In [103]:
# ex10
Bilheteria_max = df['Bilheteria_Mundial'].max()

df[df['Bilheteria_Mundial']== Bilheteria_max]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia